services:
  # ---------------------------------------------------------
  # BASE DE DATOS
  # ---------------------------------------------------------
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: gestion_cuentas_container
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Admin123!
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

  # ---------------------------------------------------------
  # KEYGEN
  # ---------------------------------------------------------
  keygen:
    image: alpine:latest
    container_name: sg_keygen
    volumes:
      - ./Keys:/keys
    command: >
      /bin/sh -c "
      echo 'Iniciando Keygen...';
      mkdir -p /keys; 
      apk add --no-cache openssl;
      if [ ! -f /keys/private_key.pem ]; then
        echo 'Generando llaves RSA...';
        openssl genrsa -out /keys/private_key.pem 2048;
        openssl rsa -pubout -in /keys/private_key.pem -out /keys/public_key.pem;
        chmod 666 /keys/*.pem;
        echo '¡Éxito! Carpeta Keys creada y llaves generadas.';
      else
        echo 'Las llaves ya existen. No hago nada.';
      fi"

volumes:
  sql_data: